* {
	box-sizing: border-box;
}

html {
	font-size: 20px;
	line-height: 1;
  font-family: system-ui;
	background: black;
	color: #dadada;
}

body {
  margin: 0;
}

.Boxes > * {
	border: 1px solid #dadada;
	margin: 1rem;
}

