* {
	box-sizing: border-box;
}

html {
	min-height: 100%;
	background: black url("https://res.cloudinary.com/radio4000/image/upload/c_thumb,q_80,fl_awebp/drz0qs9lgscyfdztr17t.webp") no-repeat center;
	background-size: cover;
	color: #dadada;
  font-family: system-ui;
	font-size: 20px;
	line-height: 1;
}

body {
  margin: 0;
}

.Boxes > * {
	background: black;
	border: 1px solid;
	border-bottom: 0;
	margin: 0 1rem;
}

.Box--padding {
	padding: 0.25rem 0.3rem;
}

.Boxes > *:last-child {
	border-bottom: 1px solid;
}

