* {
	box-sizing: border-box;
}

html {
	min-height: 100%;
	font-family: system-ui, segoe ui, sans-serif;
	font-size: 20px;
	line-height: 1;
	background-color: black;
	/* background-image: url("https://res.cloudinary.com/radio4000/image/upload/c_thumb,q_75,fl_awebp/drz0qs9lgscyfdztr17t.jpg"); */
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	color: #dadada;
}

body {
	margin: 0;
}

/* Boxes */

.Boxes {
}

.Boxes > * {
	background: black;
	border: 1px solid;
	margin: 0;
	margin: 0.5rem;
}

.Box--padding {
	padding: 0.25rem 0.3rem;
}

/* Tags */

.Tags {
	display: flex;
	flex-flow: row wrap;
	line-height: 1.5;
}

.Tags a,
.Tags button {
	display: inline-flex;
	background: black;
	color: inherit;
	border: 0;
	padding: 0 0.3em;
	outline: 1px solid #dadada;
	/* min-height: 1.2rem; */
	font-size: small;
	text-decoration: none;
}

.Tags button small {
	font-size: 1em;
	color: white;
}

.Tracks {
	display: flex;
	flex-wrap: wrap;
}
.Tracks span {
}

/* Also see Player.css */
