* {
	box-sizing: border-box;
}

html {
	min-height: 100%;
	background: black url("https://res.cloudinary.com/radio4000/image/upload/c_thumb,q_75,fl_awebp/drz0qs9lgscyfdztr17t.jpg") no-repeat center;
	background-size: cover;
	color: #dadada;
  font-family: system-ui, segoe ui, sans-serif;
	font-size: 20px;
	line-height: 1;
}

body {
  margin: 0;
}

/* Boxes */

.Boxes > * {
	background: black;
	border: 1px solid;
	border-bottom: 0;
	margin: 0 1rem;
}

.Box--padding {
	padding: 0.25rem 0.3rem;
}

.Boxes > *:last-child {
	border-bottom: 1px solid;
}

/* Tags */

.Tags {
	display: flex;
	flex-flow: row wrap;
}

.Tags button {
	background: black;
	color: inherit;
	border: 0;
	outline: 1px solid #dadada;
	min-height: 1.2rem;
}

.Tags button small {
	font-size: 1em;
	color: white;
}

/* Also see Player.css */
